/* Header Styling */

header {
  width: 100%;
}

/* Navbar Container */
.navbar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Styling */
.navbar img {
  width: 30% !important;
}

.nav-menu-logo.hidden {
  display: none;
}

/* Navigation Links */
.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 1rem;
  padding: 0.2rem 1rem;
  text-decoration: none;
  border-radius: 30px;
  color: rgb(255 228 230 / var(--tw-text-opacity, 1));
  transition: all 0.3s ease;
  background: transparent;
  border: 2px solid transparent;
  background-color: rgb(253 164 175 / var(--tw-bg-opacity, 1)) /* #fda4af */;
}

.nav-link:hover {
  background: rgba(232, 180, 184, 0.3);
  color: rgb(255 228 230 / var(--tw-text-opacity, 1));
  box-shadow: 0 4px 15px rgba(185, 107, 127, 0.1);
  border-color: rgba(255, 215, 212, 0.3);
  background-color: rgb(253 164 175 / var(--tw-bg-opacity, 1)) /* #fda4af */;
}

.active-link {
  background: rgba(232, 180, 184, 0.3);
  color: rgb(255 228 230 / var(--tw-text-opacity, 1));
  box-shadow: 0 4px 15px rgba(185, 107, 127, 0.1);
  background-color: rgb(253 164 175 / var(--tw-bg-opacity, 1)) /* #fda4af */;
}
.cart-icon {
  font-size: 1.1rem;
  color: rgb(255 228 230 / var(--tw-text-opacity, 1));
  padding: 0.8rem 0.8rem;
  box-shadow: 0 4px 15px rgba(185, 107, 127, 0.1);
  background: rgba(253, 164, 175, 0.3);
  border-radius: 50%;
}
.cart-icon:hover {
  color: rgb(255 228 230 / var(--tw-text-opacity, 1));
  box-shadow: 0 4px 15px rgba(185, 107, 127, 0.1);
  background-color: rgb(253 164 175 / var(--tw-bg-opacity, 1)) /* #fda4af */;
}
/* Navbar Button */
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color:rgb(255 228 230 / var(--tw-text-opacity, 1));
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}
.nav-btn h1 {
  font-size: 1.5rem;
  font-weight: 700;
 
}

/* Navbar Items */
header div,
nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-link.auth-button {
  padding: 8px 16px;
  border-radius: 20px;
}

/* Welcome message */
.navbar .welcome-message {
  font-size: 0.9rem;
  margin-right: 1rem;
  color: #333;
}

/* Responsive Design */
@media only screen and (max-width: 1024px) {
  header .nav-btn {
    display: flex;
    opacity: 1;
  }
  .navbar img {
    height: unset;
  }

  .logo-menu {
    display: block !important;
    width: 30%;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    opacity: 1;
    background: linear-gradient(135deg, #ffd7d4, #e8b4b8, #d282a6, #b96b7f);
    backdrop-filter: blur(7.849999904632568px);
    z-index: 999;
    transition: 1s;
  }

  header nav a {
    text-align: center;
    width: 90%;
    font-size: 1.5rem;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  .nav-menu-logo {
    display: flex !important;
    justify-content: center !important;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    font-size: 1.2rem;
  }
  .logout {
    width: 90%;
  }
.cart-icon {
  width: unset;
  font-size: 1.1rem;
  color: rgb(255 228 230 / var(--tw-text-opacity, 1));
  padding: 0.8rem 0.8rem;
  box-shadow: 0 4px 15px rgba(185, 107, 127, 0.1);
  background: rgba(253, 164, 175, 0.3);
  border-radius: 50%;
}
}
